{{ define "content" }}
  <div class="page-header">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="row">
    <div class="col-md-6">	
	   <a href="/adduser"><button type="button" class="btn btn-sm btn-success">Add</button></a>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
			<th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
		<tbody>
		{{with .Users}}{{range .}}
		<tr><td><a href="/user/{{.UserID}}"><button type="button" class="btn btn-sm btn-primary">{{.FirstName}} {{.LastName}} </button></a></td>
			<td>{{.UserName}}</td>
			<td>{{.Email}}</td>
		</tr>{{end}}{{end}}
	    </tbody>
		</table>
		</div>
		</div>
{{ end }}
